
@{
    ViewData["Title"] = "Home_Admin";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<link href="~/css/style4.css" rel="stylesheet" />


@section HomeData{
<div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">15</div>
                        <div class="cardName">Users</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">5</div>
                        <div class="cardName">Categories</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">3</div>
                        <div class="cardName">Roles</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">6</div>
                        <div class="cardName">Authors</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>
            </div>

}
<section class="welcome_section layout_padding">
    <div class="container">
        <div class="custom_heading-container">
            <h2>
                Welcome To Admin Page
            </h2>
        </div>
        <div class="layout_padding2">
            <div class="img-box">
                <img src="~/img/welcome.png" alt="" />
            </div>
            <div class="detail-box">
                <p>
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                </p>
                <div>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>